 <div id="innerholder">
  <h3><span><%= @ptitle %> </span><hr></h3>	
  <div id="label">
     <p><%= @pbody %></p>
	 <p><%= @pbody2 %></p>
	 <p><%= @pbody3 %></p>

	 
  </div>
  	 <%= @link1 %>
	 <%= @link2 %>
	 <%= @link3 %>
	 <%= @link4 %>
	 <%= @link5 %>
	 <%= @link6 %>
 </div>